<div class="center-1">
    <div class="content-links-wrapper">
        <span>
              PROJECTS
        </span>
        <span class="circ-sep"></span>
        <span>
            GROUPS
        </span>
        <span class="circ-sep"></span>
        <span>
            NEWS
        </span>
        <span class="circ-sep"></span>
        <span>
            FORUM
        </span>
    </div>
    <div style="display: flex;">
        <div class="profile-side">
            <div class="hanging-pic">
                <img src="images/default-no-profile-pic.png" ng-src="{{user.profilePic}}">
            </div>

            <div>
                <button class="new-proj-btn" ui-sref="root.projectCreation.step1">New Project</button>
            </div>

            <div class="up-stats">
            <span class="usr-lvl">
                MASTER
            </span>
                <div class="progress-1">
                    <div class="prog">

                    </div>
                </div>
                <span class="points">299 / 500</span>

            </div>

        </div>

        <div class="profile-main">
            <div class="name">
                <span class="txt">
                    {{user.username}}

                    <span class="edit-btn" ng-click="editProfile()">
                    EDIT
                </span>
                </span>

            </div>
            <div class="info">
                <span>Quisque gravida metus sed commodo commodo. Vivamus a ante vitae arcu tempus auctor. Nullam velit tellus, auctor at elementum vel, luctus non magna. Donec accumsan nisi a tincidunt porttitor. Nunc elementum fringilla dui consectetur luctus. Praesent volutpat ullamcorper elit non bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec cursus tempus leo, dignissim finibus ante.</span>
            </div>

            <div style="margin-top: 5px;border-bottom:1px solid rgba(255,255,255,.4)"></div>
            <div>
                <div class="row">
                    <div class="col-md-6" style="padding-right: 0;">
                        <span class="contrib-title" class="contrib-title" style="padding-top: 5px;padding-bottom:5px">My Projects</span>

                        <div class="project-box">
                            <div class="head">

                            </div>
                            <div class="foot">
                                <span class="name">
                                    Manage
                                </span>
                                <span style="display: block;color: white;font-size: 8px;margin-top:10px">
                                    875 Contributions
                                </span>
                            </div>
                        </div>
                        <div class="project-box">
                            <div class="head">

                            </div>
                            <div class="foot">
                                <span class="name">
                                    Manage
                                </span>
                                <span style="display: block;color: white;font-size: 8px;margin-top:10px">
                                    3265 Contributions
                                </span>
                            </div>
                        </div>
                        <div class="project-box">
                            <div class="head">

                            </div>
                            <div class="foot">
                                <span class="name">
                                    Manage
                                </span>
                                <span style="display: block;color: white;font-size: 8px;margin-top:10px">
                                    1278 Contributions
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-right: 0;">
                        <span class="contrib-title" class="contrib-title" style="padding-top: 5px;padding-bottom:5px">My Contributions</span>
                    </div>
                </div>
                <div style="margin-top: 5px;border-bottom:1px solid rgba(255,255,255,.4);margin-bottom: 100px"></div>

                <!--<div class="row">-->
                <!--<div class="col-md-12" style="padding-right: 0;">-->
                <!--<span class="contrib-title" style="padding-top: 5px;padding-bottom:5px">My Groups</span>-->
                <!--<div class="boxes">-->
                <!--<div class="group-box">-->
                <!--<div class="head">-->

                <!--</div>-->
                <!--<div class="foot">-->
                <!--<span class="name">-->
                <!--Power Ranger Wild Force-->
                <!--</span>-->
                <!--<span style="display: block;color: white;font-size: 8px;margin-top:10px">-->
                <!--34 projects-->
                <!--</span>-->
                <!--<span style="display: block;color: white;font-size: 8px;">-->
                <!--2500 members-->
                <!--</span>-->

                <!--</div>-->
                <!--</div>-->
                <!--<div class="group-box">-->
                <!--<div class="head">-->

                <!--</div>-->
                <!--<div class="foot" >-->
                <!--<span class="name">-->
                <!--Power Ranger Wild Force-->
                <!--</span>-->
                <!--<span style="display: block;color: white;font-size: 8px;margin-top:10px">-->
                <!--34 projects-->
                <!--</span>-->
                <!--<span style="display: block;color: white;font-size: 8px;">-->
                <!--2500 members-->
                <!--</span>-->

                <!--</div>-->
                <!--</div>-->
                <!--<div class="group-box">-->
                <!--<div class="head">-->

                <!--</div>-->
                <!--<div class="foot">-->
                <!--<span class="name">-->
                <!--Power Ranger Wild Force-->
                <!--</span>-->
                <!--<span style="display: block;color: white;font-size: 8px;margin-top:10px">-->
                <!--34 projects-->
                <!--</span>-->
                <!--<span style="display: block;color: white;font-size: 8px;">-->
                <!--2500 members-->
                <!--</span>-->

                <!--</div>-->
                <!--</div>-->
                <!--<div class="group-box">-->
                <!--<div class="head">-->

                <!--</div>-->
                <!--<div class="foot">-->
                <!--<span class="name">-->
                <!--Power Ranger Wild Force-->
                <!--</span>-->
                <!--<span style="display: block;color: white;font-size: 8px;margin-top:10px">-->
                <!--34 projects-->
                <!--</span>-->
                <!--<span style="display: block;color: white;font-size: 8px;">-->
                <!--2500 members-->
                <!--</span>-->

                <!--</div>-->
                <!--</div>-->
                <!--<div class="group-box">-->
                <!--<div class="head">-->

                <!--</div>-->
                <!--<div class="foot">-->
                <!--<span class="name">-->
                <!--Power Ranger Wild Force-->
                <!--</span>-->
                <!--<span style="display: block;color: white;font-size: 8px;margin-top:10px">-->
                <!--34 projects-->
                <!--</span>-->
                <!--<span style="display: block;color: white;font-size: 8px;">-->
                <!--2500 members-->
                <!--</span>-->

                <!--</div>-->
                <!--</div>-->

                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
            </div>

        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modalPopup">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <textarea style="max-width: 568px;"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>